<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544272050884-hsk4dtgmhj9j2101vmnvbs6dlpdtc3nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544272050884-hsk4dtgmhj9j2101vmnvbs6dlpdtc3nt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544272050884-g00mgqqbae3jufq3ogv8kahi2a7c87ru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2qbOc4zP_Exp5g8G7tCnfLdzvobPscqA</string>
	<key>GCM_SENDER_ID</key>
	<string>544272050884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brownceapp.brownce</string>
	<key>PROJECT_ID</key>
	<string>brownceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>brownceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544272050884:ios:746da8dc00d91667907791</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6632433436195884~8263097893</string>
</dict>
</plist>